.main_form{
    display: flex;
    justify-content: center;
    min-height: 75vh;
}

.add-form{
    height: 80vh;
    width: 70%;
    padding-top: 50px;
}

.form-control{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
}

.form-control label{
    color: pink;
    margin-bottom: 8px;
}

.form-control .title{
    padding: 6px;
}

.form-control .text{
    padding: 55px 250px;
    display: flex;
    justify-content: flex-start;
    
}

.form-control .title[type="title"]{
    font-size: 14px;
    padding-top: 0;
    padding-left:0;

}

.form-control .text[type="text"]{
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    padding-top: 0;
    padding-left:0;

}

.add-form button {
    margin-top: 40px;
    padding-top: 7px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: white;
    color: rgb(251, 241, 249);
    cursor: pointer;
    padding: 13px 0;
    border: 2px solid #bf0ecc;
    box-shadow: #e37aea -1px 1px, #e37aea -2px 2px, #e37aea -3px 3px,
    #e37aea -4px 4px, #e37aea -5px 5px, #e37aea -6px 6px, #e37aea -7px 7px,
    #e37aea -8px 8px;
    transform: translate3d(8px, -8px, 0);
    background-color: #e37aea;
}

.btn:active{
    color: white;
    box-shadow: #000000 -1px 1px, #000000 -2px 2px, #000000 -3px 3px,
    #000000 -4px 4px, #000000 -5px 5px, #000000 -6px 6px, #000000 -7px 7px,
    #000000 -8px 8px;
    transform: translate3d(8px, -8px, 0);
    background-color: #1a1515;
}


.text{
    height: 25vh;
    word-break: break-all;
    font-size: 15px;
    color:rgb(19, 19, 19);
}

.title{
    height: 4vh;
}
